@if (Request.IsAuthenticated) {
    
        <li>@Html.ActionLink("User: " + User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage" })</li>
        <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"} )) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }</li>
    
} else {
    
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
